<app-admin-header></app-admin-header>

<div class="flex m-10 font-medium">
    <h1>Welcome Back, Admin</h1>
</div>

<div class="flex flex-wrap  justify-center gap-4 md:flex-row">
    <div class="card w-96 bg-base-100 card-xl shadow-sm">
        <div class="card-body flex flex-col items-center justify-center text-center">
            <h2 class="card-title">Customers</h2>
            <div class="card-actions">
                <button (click)="customers()" class="btn btn-primary">View Details</button>
            </div>
        </div>
    </div>

    <div class="card w-96 bg-base-100 card-xl shadow-sm">
        <div class="card-body flex flex-col items-center justify-center text-center">
          <h2 class="card-title">Products</h2>
          <div class="card-actions">
            <button (click)="products()" class="btn btn-primary">View Details</button>
          </div>
        </div>
      </div>

      <div class="card w-96 bg-base-100 card-xl shadow-sm">
        <div class="card-body flex flex-col items-center justify-center text-center">
          <h2 class="card-title">Orders</h2>
          <div class="card-actions">
            <button (click)="orders()" class="btn btn-primary">View Details</button>
          </div>
        </div>
      </div>

      <div class="card w-96 bg-base-100 card-xl shadow-sm">
        <div class="card-body flex flex-col items-center justify-center text-center">
          <h2 class="card-title">Staff</h2>
          <div class="card-actions">
            <button (click)="staff()" class="btn btn-primary">View Details</button>
          </div>
        </div>
      </div>

      <div class="card w-96 bg-base-100 shadow-sm">
        <div class="card-body flex flex-col items-center justify-center text-center">
            <h2 class="card-title">Optometrist</h2>
            <div class="card-actions">
                <button (click)="optometrist()" class="btn btn-primary">View Details</button>
            </div>
        </div>
    </div>
    
      

</div>

